.footer-section {
  background: #0f2d38;
  color: #aaa;
}

.social-icons a {
  color: #d6b36a;
  font-size: 3rem;
  margin: 0 1.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #fff;
}

.copyRight{
    color: #d6b36a;
      font-size: 1.1rem;
}
